* {
    box-sizing: border-box;
}

.container {
    width: 50vw;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
}

.item {
    background-color: aquamarine;
    border: 2px solid red;
    color: white;
    text-align: center;
    font-size: 2em;
    width: 50px;
    /* height: 50px; */
}