.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgb(191, 211, 219);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    height: 400px;
    background-color: rgb(245, 230, 197);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 16px;
}

.background {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.size-bg {
    height: 40%;
}

.photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-sizing: border-box;
    border: 3px solid black;
}

.photo-position {
    margin-top: -50px;
    margin-left: 5%;
}

.person-info {
    margin-top: -50px;
    margin-left: 125px;
}

.name {
    font-size: 20px;
}

.place {
    font-size: 14px;
}

.about {
    line-height: 1.5em;
    margin: 4% 2% 2% 8%
}

.ref {
    text-decoration: none;
    margin-left: 8%;
    color: dodgerblue;
    color: darkgoldenrod;
    font-size: 14px;
}

.account-info {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
}
.number {
    font-size: 20px;
}
.icon {
    width: 20px;
    height: 20px;
}