.wrapper {
width: 100vw;
height: 100vh;
background-color: rgb(191, 211, 219);
display: flex;
justify-content: center;
align-items: center;
}
.card {
width: 300px;
height: 400px;
background-color: beige;
display: flex;
flex-direction: column;

}
.background {
height: 100%;
width: 100%;
object-fit: cover;
}
.size-bg {
    height: 40%;
}
.photo {
width: 100px;
height: 100px;
border-radius: 50%;
object-fit: cover;
border: 3px solid black;
}
.photo-position {
    margin-top: 0;
}
.person-info {

}
.name {

}
.place {

}
.about {

}
.ref {

}
.account-info {
display: flex;
justify-content: space-around;
}